@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #030712;
  color: #f9fafb;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0f172a;
}
::-webkit-scrollbar-thumb {
  background: #4f46e5;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #4338ca;
}